h1{
	text-align: center;
}

textarea{
	overflow-y: scroll;
}

#titles-list-textarea{
	width: 600;
	height: 300;
}

#words-to-ignore-textarea{
	width: 600;
	height: 100;
}

#credit-div{
	position: absolute;
	right: 0px;
}